<div id="<%= dom_id doctor %>">
  <p>
    <strong>Firstname:</strong>
    <%= doctor.firstname %>
  </p>

  <p>
    <strong>Secondname:</strong>
    <%= doctor.secondname %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= doctor.phonenumber %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= doctor.department %>
  </p>

</div>
